<div style="display: flex">
    <label class="switch">
        <input type="checkbox" [(ngModel)]="useVLC" />
        <span class="slider round"> </span>
    </label>
    <span style="font-size: 34px">
        @if (useVLC()) {
            VLC
        } @else {
            HTML5
        }
    </span>
</div>

<div class="video-grid">
    @for (src of videoSources; track src) {
        @if (useVLC()) {
            <vlc-player [src]="src"></vlc-player>
        } @else {
            <video [src]="src" controls></video>
        }
    }
</div>
